body{
    background-color: lightgray;
    margin: 0;
}
header{
    background-color: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.post{
    background-color: white;
}
div.post img{
    width: 100%;
}
div.post .post-header div:first-child{
    display:flex;
    width: 80%;
    text-align: right;
}
div.post .post-header div:last-child{
    display:flex;
    width: 20%;
    padding: 10px;
    text-align: right;
}

div.post h2, div.post p{
    padding: 10px;
}
div.container{
    width: 600px;
    margin:auto;
}
p.date{
    float: right;
    margin-top: 0px;
    margin-bottom: 20px;
}